[parax-bg-stage] {
    position:relative;
    overflow:hidden;
    z-index:0; /* needed? */
    transform:translate3d(0,0,0);
}
[parax-bg] {
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    z-index:-1;
    will-change:transform;
    background-size:cover;
}
[parax-bg] > [parax-bg-visible] {
    position:absolute;
    top:0; bottom:0; left:0; right:0;
}